<div class="container mt-3">
	<div class="row">
		<div class="col text-center">
			<img
				src="img/profile.jpeg"
				alt="Profile"
				class="img-thumbnail rounded-circle"
				width="200"
			/>
			<h1 class="display-4">Fauzan DP</h1>
			<p class="lead">Otodidak | Backend Developer</p>
		</div>
	</div>
</div>
